
body{	

	background-color: #333333;
	background-image: url("pattern.svg");

}
	.form-control{ 
	
	color:black;
-webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
		}


.inputnronly{pointer-events:none;}
	.loaderrr{
	
opacity:0;
-webkit-transition: opacity 400ms ease-in;
    -ms-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;}
	
	.loaderrropacity{opacity:0.9;}
	
	.currencybutton{
	cursor: move; 
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      }
					
.stylepicker{
	border-radius: 12px;
	padding-bottom: 30px;
	-moz-transition: all 0.2s ease-in;
	/* WebKit */
	-webkit-transition: all 0.2s ease-in;
	/* Opera */
	-o-transition: all 0.2s ease-in;
	/* Standard */
	transition: all 0.2s ease-in;	
}
					
	
	
.overlay{
   
background: rgba(51,51,51,0.85);
background: -moz-linear-gradient(left, rgba(51,51,51,0.85) 5%, rgba(51,51,51,0.64) 20%, rgba(51,51,51,0.5) 30%, rgba(51,51,51,0.5) 70%, rgba(51,51,51,0.64) 80%, rgba(51,51,51,0.85) 95%);
background: -webkit-gradient(left top, right top, color-stop(5%, rgba(51,51,51,0.85)), color-stop(20%, rgba(51,51,51,0.64)), color-stop(30%, rgba(51,51,51,0.5)), color-stop(70%, rgba(51,51,51,0.5)), color-stop(80%, rgba(51,51,51,0.64)), color-stop(95%, rgba(51,51,51,0.85)));
background: -webkit-linear-gradient(left, rgba(51,51,51,0.85) 5%, rgba(51,51,51,0.64) 20%, rgba(51,51,51,0.5) 30%, rgba(51,51,51,0.5) 70%, rgba(51,51,51,0.64) 80%, rgba(51,51,51,0.85) 95%);
background: -o-linear-gradient(left, rgba(51,51,51,0.85) 5%, rgba(51,51,51,0.64) 20%, rgba(51,51,51,0.5) 30%, rgba(51,51,51,0.5) 70%, rgba(51,51,51,0.64) 80%, rgba(51,51,51,0.85) 95%);
background: -ms-linear-gradient(left, rgba(51,51,51,0.85) 5%, rgba(51,51,51,0.64) 20%, rgba(51,51,51,0.5) 30%, rgba(51,51,51,0.5) 70%, rgba(51,51,51,0.64) 80%, rgba(51,51,51,0.85) 95%);
background: linear-gradient(to right, rgba(51,51,51,0.85) 5%, rgba(51,51,51,0.64) 20%, rgba(51,51,51,0.5) 30%, rgba(51,51,51,0.5) 70%, rgba(51,51,51,0.64) 80%, rgba(51,51,51,0.85) 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1 );
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;}
