body {

	background-color: #333333;
	background-image: url("pattern.svg");
}

#tile {
	color: white;
	border-radius: 7px;
	padding: 17px;
	text-shadow: 0px 0px 18px black;
}

#basic-addon1 {
	max-width: 60px;
	width: 100%;
	font-size: 1.5em;
	height: 50px;
	padding: 10px 16px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#psP{float:left;clear:both}
footer > div {padding-bottom: 10px; padding-top: 10px;}
#selectdecim {
	text-align: center;
	width: 100px;
	font-size: 1.5em;
	height: 50px;
	padding: 10px 16px;
}

#datetimepicker2{text-align:center;  font-size: 1.5em; height: 50px; padding: 10px 16px;}
.lds-css{width: 184px; margin: 0 auto; height:130px; margin-top:-67px;}

.form-control {

	color: black;
	-webkit-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}


.inputnronly {
	pointer-events: none;
}

.loaderrr {

	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-ms-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.loaderrropacity {
	opacity: 0.9;
}

.currencybutton {
	cursor: move;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Likely future */
}

.stylepicker {
	border-radius: 12px;
	padding-bottom: 30px;
	-moz-transition: all 0.2s ease-in;
	/* WebKit */
	-webkit-transition: all 0.2s ease-in;
	/* Opera */
	-o-transition: all 0.2s ease-in;
	/* Standard */
	transition: all 0.2s ease-in;
}



.overlay {

	background: rgba(51, 51, 51, 0.85);
	background: -moz-linear-gradient(left, rgba(51, 51, 51, 0.85) 5%, rgba(51, 51, 51, 0.64) 20%, rgba(51, 51, 51, 0.5) 30%, rgba(51, 51, 51, 0.5) 70%, rgba(51, 51, 51, 0.64) 80%, rgba(51, 51, 51, 0.85) 95%);
	background: -webkit-gradient(left top, right top, color-stop(5%, rgba(51, 51, 51, 0.85)), color-stop(20%, rgba(51, 51, 51, 0.64)), color-stop(30%, rgba(51, 51, 51, 0.5)), color-stop(70%, rgba(51, 51, 51, 0.5)), color-stop(80%, rgba(51, 51, 51, 0.64)), color-stop(95%, rgba(51, 51, 51, 0.85)));
	background: -webkit-linear-gradient(left, rgba(51, 51, 51, 0.85) 5%, rgba(51, 51, 51, 0.64) 20%, rgba(51, 51, 51, 0.5) 30%, rgba(51, 51, 51, 0.5) 70%, rgba(51, 51, 51, 0.64) 80%, rgba(51, 51, 51, 0.85) 95%);
	background: -o-linear-gradient(left, rgba(51, 51, 51, 0.85) 5%, rgba(51, 51, 51, 0.64) 20%, rgba(51, 51, 51, 0.5) 30%, rgba(51, 51, 51, 0.5) 70%, rgba(51, 51, 51, 0.64) 80%, rgba(51, 51, 51, 0.85) 95%);
	background: -ms-linear-gradient(left, rgba(51, 51, 51, 0.85) 5%, rgba(51, 51, 51, 0.64) 20%, rgba(51, 51, 51, 0.5) 30%, rgba(51, 51, 51, 0.5) 70%, rgba(51, 51, 51, 0.64) 80%, rgba(51, 51, 51, 0.85) 95%);
	background: linear-gradient(to right, rgba(51, 51, 51, 0.85) 5%, rgba(51, 51, 51, 0.64) 20%, rgba(51, 51, 51, 0.5) 30%, rgba(51, 51, 51, 0.5) 70%, rgba(51, 51, 51, 0.64) 80%, rgba(51, 51, 51, 0.85) 95%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333', GradientType=1);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.label {
	width: 0;
	padding-left: 0;
	padding-right: 0;
	border: none;
}

#psP .input-group-addon:not(:first-child):not(:last-child),
.currencybutton {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	min-width: 87px;
}

.sortable>.input-group:first-child {
	margin-top: 7px;
}

#psP .form-control:last-child,
#psP .input-group .form-control:first-child,
.inputnronly {
	text-align: center;
	max-width: 250px;
	font-size: 1.5em;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#curencyfinder {
	font-size: 1.5em;
	height: 50px;
	padding: 10px 16px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#scrollgo {
	font-size: 18px;
	height: 50px;
	padding: 10px 16px;
	width: 66px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

@-webkit-keyframes lds-ellipsis3 {
	0%,
	25% {
		left: 32px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		left: 32px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		left: 100px;
	}
	100% {
		left: 168px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0%,
	25% {
		left: 32px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		left: 32px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		left: 100px;
	}
	100% {
		left: 168px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes lds-ellipsis2 {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	25%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	25%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@-webkit-keyframes lds-ellipsis {
	0% {
		left: 32px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	25% {
		left: 32px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		left: 100px;
	}
	75% {
		left: 168px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		left: 168px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes lds-ellipsis {
	0% {
		left: 32px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	25% {
		left: 32px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		left: 100px;
	}
	75% {
		left: 168px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		left: 168px;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

.lds-ellipsis {
	position: relative;
	width:100%;height:100%;
}

.lds-ellipsis>div {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
}

.lds-ellipsis div>div {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #f00;
	position: absolute;
	top: 100px;
	left: 32px;
	-webkit-animation: lds-ellipsis 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
	animation: lds-ellipsis 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}

.lds-ellipsis div:nth-child(1) div {
	-webkit-animation: lds-ellipsis2 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
	animation: lds-ellipsis2 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
	background: #9966ff;
}

.lds-ellipsis div:nth-child(2) div {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
	background: #339966;
}

.lds-ellipsis div:nth-child(3) div {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
	background: #cccc00;
}

.lds-ellipsis div:nth-child(4) div {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	background: #3366cc;
}

.lds-ellipsis div:nth-child(5) div {
	-webkit-animation: lds-ellipsis3 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
	animation: lds-ellipsis3 1.6s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
	background: #ff0066;
}


@media (max-width: 768px) {
	.maxwidther {
		max-width: 340px;
		margin: 0 auto;
	}

	.centercurrency {
		margin: 0 auto;
		max-width: 371px;
	}
}


.hideatpageload {
	display: none;
	opacity: 0;
}

.input-group-addon {
	color: #fff;
	background-color: #303030;
}

.footer {
	color: white;
	background-color: #424242;
	bottom: 0px;
	opacity: 1;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

span.currencybutton {
	padding-left: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-top: 0px;
	text-align: center;
	box-shadow: none;
}

.loadingcurency {
	color: white;
	background-color: #d3d3d3;
}

.yourClass {
	background-color: gray;
	color: white;
}

.myClass {
	background-color: #447cc9;
	color: white;
}